{% extends 'base.html' %}

{% block main %}
<br>
<br>
<div class="row shadow">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Все коммиссии</h4>
                <div class="card-header-action">
                    <form>
                        <div class="input-group">
                            {% if request.user.is_authenticated %}
                            <div class="card-header-form">
                                <a href="{% url 'commission_create' %}" class="btn btn-danger btn-icon icon-right">Добавить коммиссию</a>
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped" id="sortable-table">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Уровень</th>
                            <th>Группа</th>
                            <th>Тип коммиссии</th>
                            <th>Подробнее</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for commission in commissions %}
                        <tr>
                            <td>{{ commission.user_name }}</td>
                            <td>{{ commission.lvl }}</td>
                            <td>{{ commission.group }}</td>
                            <td>{{ commission.commission_type }}</td>
                            <td><a href="{% url 'commission_detail' commission.pk  %}" class="btn btn-secondary">Подробнее</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
