{% extends 'base.html' %}

{% block main %}
<div class="row shadow">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Все комиссии</h4>
                <div class="card-header-action">
                    <form>
                        <div class="input-group">
                            {% if request.user.is_authenticated %}
                            <div class="card-header-form">
                                <a href="{% url 'commission_create' %}" class="btn btn-danger btn-icon icon-right">Добавить комиссию</a>
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped" id="sortable-table">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Уровень</th>
                            <th>Группа</th>
                            <th>Тип комиссии</th>
                            <th>Подробнее</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for commission in commissions %}
                        <tr>
                            <td>{{ commission.user_name }}</td>
                            <td>{{ commission.lvl }}</td>
                            <td>{{ commission.group }}</td>
                            <td>{{ commission.commission_type }}</td>
                            <td><a href="{% url 'commission_detail' commission.pk  %}" class="btn btn-primary">Подробнее</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                    <div class="card-body">
                        <div class="buttons">
                                <ul class="pagination justify-content-center">
                                    {% if commissions.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ commissions.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for page_number in commissions.paginator.page_range %}
                                    {% if page_number == commissions.number %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if commissions.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ commissions.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock main %}
