{% extends 'base.html' %}


{% block main %}
<div class="row">
    <div class="col-12 col-sm-12 col-lg-6">
        <div class="card profile-widget">
            <div class="profile-widget-header">
                <img alt="image" src="{{ commission.image.url }}" class="rounded-circle profile-widget-picture">
                <div class="profile-widget-items">
                    <div class="profile-widget-item">
                        <div class="profile-widget-item-label">Уровень</div>
                        <div class="profile-widget-item-value">{{ commission.lvl }}</div>
                    </div>
                    <div class="profile-widget-item">
                        <div class="profile-widget-item-label">Группа</div>
                        <div class="profile-widget-item-value">{{ commission.group }}</div>
                    </div>
                    <div class="profile-widget-item">
                        <div class="profile-widget-item-label">Тип комиссии</div>
                        <div class="profile-widget-item-value">{{ commission.commission_type }}</div>
                    </div>
                </div>
            </div>
            <div class="profile-widget-description pb-0">
                <div class="profile-widget-name">{{ commission.leader }}
                    <div class="text-muted d-inline font-weight-normal">
                        <div class="slash"></div>
                        Председатель комиссии
                    </div>
                </div>
                <!-- <p>{{ commission.description }}</p> -->
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header">
                <h4>Сотрудники комиссии</h4>
            </div>
            <div class="card-body pb-0">
                <div class="row">

                    {% for member in commission.members.all %}
                    <div class="col-6 col-sm-3 col-lg-3 mb-4 mb-md-0 text-center">
                        <a href="{% url 'employer_detail' member.pk %}" class="d-block mt-2"
                            style="text-decoration:none;">
                            <div class="avatar-item">
                                {% if member.image %}
                                <img alt="image" src="{{ member.image.url }}" class="img-fluid rounded-circle mb-2"
                                    style="width: 70%; max-width: 100px;">
                                {% else %}
                                <img alt="image" src="/media/images/avatar-1300331_1280.png" class="img-fluid rounded-circle mb-2"
                                    style="width: 70%; max-width: 100px;">
                                {% endif %}
                                <div class="font-weight-bold text-dark"
                                    style="font-size: 0.9rem; word-wrap: break-word;">{{ member.name }}</div>
                            </div>
                        </a>
                    </div>
                    {% empty %}
                    <li>Члены комиссии не добавлены.</li>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-sm-12 col-lg-6">
        <div class="card-body">
            {% for file in files %}
            <!-- <img alt="image" src="/media/{{ exam.file }}" class="" style="width:80%"> -->
            {% endfor %}
        </div>
    </div>
</div>

{% endblock main %}`