{% extends 'base.html' %}


{% block main %}
<div class="col-12 col-sm-12 col-lg-5">
    <div class="card profile-widget">
        <div class="profile-widget-header">
            <img alt="image" src="{{ employer.image.url }}" class="rounded-circle profile-widget-picture">
            <div class="profile-widget-items">
                <div class="profile-widget-item">
                    <div class="profile-widget-item-label">Уровень</div>
                    <div class="profile-widget-item-value">{{ employer.level }}</div>
                </div>
                <div class="profile-widget-item">
                    <div class="profile-widget-item-label">Дата вступления</div>
                    <div class="profile-widget-item-value">{{ employer.enter }}</div>
                </div>
                <div class="profile-widget-item">
                    <div class="profile-widget-item-label">Станция</div>
                    <div class="profile-widget-item-value">{{ employer.plant }}</div>
                </div>
            </div>
        </div>
        <div class="profile-widget-description pb-0">
            <div class="profile-widget-name">{{ employer.name }}
                <div class="text-muted d-inline font-weight-normal">
                    <div class="slash"></div>
                    {{ employer.position }}
                </div>
            </div>
            <p>{{ employer.description }}</p>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <h4>Комиссия: {{ employer.commission }}</h4>
        </div>
        <div class="card-body pb-0">
            {% for commission in commissions %}
            {% if employer.commission == commission %}
            <div class="row">
                <div class="col-6 col-sm-3 col-lg-3 mb-4 mb-md-0">
                    <div class="avatar-item">
                        <img alt="image" src="{{ commission.image.url }}" class="img-fluid" data-toggle="tooltip">
                        <a href="{% url 'commission_detail' commission.pk %}" class="btn">
                            <i class="far fa-user"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main %}