{% extends 'base.html' %}

{% block main %}
<br>
<br>
<div class="row shadow">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Все экзамены</h4>
                <div class="card-header-action">
                    <form>
                        <div class="input-group">
                            {% if request.user.is_authenticated %}
                            <div class="card-header-action">
                                <a href="{% url 'exam_create' %}" class="btn btn-danger btn-icon icon-right">Добавить экзамен</a>
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped" id="sortable-table">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Станция</th>
                            <th>Дата</th>
                            <th>Подробнее</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for exam in exams %}
                        <tr>
                            {% if exam.type == 'Мед' %}
                            <td><i class="fa fa-plus-square" aria-hidden="true"></i> {{ exam.type }}</td>
                            {% elif exam.type == 'Пожарка' %}
                            <td><i class="fa fa-fire" aria-hidden="true"></i> {{ exam.type }}</td>
                            {% else %}
                            <td><i class="fa fa-bolt" aria-hidden="true"></i> {{ exam.type }}</td>
                            {% endif %}
                            <td>{{ exam.plant }}</td>
                            <td>{{ exam.date }}</td>
                            {% for employer in employers %}
                            {% if employer.exam == exam %}
                            <td><a href="{% url 'exam_detail' employer.pk %}" class="btn btn-secondary">Подробнее</a></td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
