{% extends 'base.html' %}

{% block main %}
<br>
<br>
<div class="row shadow">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Sortable Table</h4>
                <div class="card-header-action">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped" id="sortable-table">
                        <tbody>
                        {% for employer in employers %}
                        {% for score in scores %}
                        {% if score.exam == exam %}

                        <tr>
                            <td>{{ employer.name }}</td>
                            <td>{{ employer.commission }}</td>
                            <td>{{ employer.plant }}</td>
                            <td>{{ employer.exam }}</td>

                            <td>{{ score.score }}</td>

                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}

                        </tbody>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Commission</th>
                            <th>Plant</th>
                            <th>Exam</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
