{% extends 'base.html' %}

{% block main %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Результаты экзаменов</h4>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped" id="sortable-table">
                        <thead>
                            <tr>
                                <th>Имя</th>
                                <th>Экзамен</th>
                                <th>Дата</th>
                                <th>Результат</th>
                                <th>Статус</th>
                                <th>Коментарий</th>


                            </tr>
                            </thead>
                        <tbody>
                        {% for score in scores %}
                        {% if score.exam == exam %}
                        <tr>
                            <td><img alt="image" src="https://avatars.mds.yandex.net/i?id=c96308cd89772428e8cee177ad918db56fea3fd4-10471469-images-thumbs&ref=rim&n=33&w=200&h=200" class="rounded-circle" width="35" data-toggle="tooltip" title="Wildan Ahdian"></i>
                                {{ score.name }}</td>
                            {% if exam.types == 'med' %}
                            <td><i class="fa fa-plus-square" aria-hidden="true"></i> Медицинский контроль</td>
                            {% elif exam.types == 'fire' %}
                            <td><i class="fa fa-fire" aria-hidden="true"></i> Пожарная безопасность</td>
                            {% elif exam.types == 'secure' %}
                            <td><i class="fa fa-bolt" aria-hidden="true"></i> Техника безопасности</td>
                            {% endif %}
                            <td>{{ exam.start }}</td>
                            {% if score.score >= 3 and score.score < 6 %}
                            <td><div class="badge badge-success">{{ score.score }}</div></td>
                            {% elif score.score > 0 and score.score <= 2 %}
                            <td><div class="badge badge-danger">{{ score.score }}</div></td>
                            {% else %}
                            <td><div class="badge badge-warrning">{{ score.score }}</div></td>
                            {% endif %}
                            {% if score.status == 'pass' %}
                            <td><div class="badge badge-success">Прошел</div></td>
                            {% elif score.status == 'fail' %}
                            <td><div class="badge badge-danger">Не прошел</div></td>
                            {% else %}
                            <td><div class="badge badge-warning">В процессе</div></td>
                            {% endif %}
                            <td></td>
                        </tr>
                        {% endif %}
                        {% endfor %}

                        </tbody>
                        
                    </table>
                    <div class="">
                    <div class="card-body">
                        <div class="buttons">
                                <ul class="pagination justify-content-center">
                                    {% if employers.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ employers.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for page_number in employers.paginator.page_range %}
                                    {% if page_number == employers.number %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if employers.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ employers.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
