{% extends 'base.html' %}
{% load static %}


{% block main %}

<div class="col-lg-12 col-md-6 col-sm-12">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="wizard-steps d-flex justify-content-center">
                <div class="wizard-step wizard-step-info text-center">
                    <a href="{% url 'employer' %}" class="d-block" style="text-decoration: none; color: #fff;">
                        <div class="wizard-step-icon">
                            <i class="fas fa-info"></i>
                        </div>
                        <span class="step-count">{{ total_employees }}</span>
                        <div class="wizard-step-label">
                            Количество сотрудников
                        </div>
                    </a>
                </div>
                <div class="wizard-step wizard-step-success text-center">
                    <a href="{% url 'passed' %}" class="d-block" style="text-decoration: none; color: #fff;">
                        <div class="wizard-step-icon">
                            <i class="fas fa-check"></i>
                        </div>
                        <span class="step-count">{{ passed_exams }}</span>
                        <div class="wizard-step-label">
                            Прошли экзамен
                        </div>
                    </a>
                </div>
                <div class="wizard-step wizard-step-warning text-center">
                    <a href="{% url 'process' %}" class="d-block" style="text-decoration: none; color: #fff;">
                        <div class="wizard-step-icon">
                            <i class="fas fa-stopwatch"></i>
                        </div>
                        <span class="step-count">{{ in_progress_exams }}</span>
                        <div class="wizard-step-label">
                            Проходят экзамен
                        </div>
                    </a>
                </div>
                <div class="wizard-step wizard-step-danger text-center">
                    <a href="{% url 'failed' %}" class="d-block" style="text-decoration: none; color: #fff;">
                        <div class="wizard-step-icon">
                            <i class="fas fa-times"></i>
                        </div>
                        <span class="step-count">{{ failed_exams }}</span>
                        <div class="wizard-step-label">
                            Не прошли экзамен
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row shadow justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4>График сдачи экзаменов</h4>
                </div>
                <div class="card-body">
                    <div class="fc-overflow">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}