{% extends 'base.html' %}

{% block main %}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                {% for plant in plants %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <article class="article">
                        <div class="article-header">
                            <div class="article-image" data-background="assets/img/news/img08.jpg">
                            </div>
                            <div class="article-title">
                                <h2><a href="#">{{ plant.name }}</a></h2>
                            </div>
                        </div>
                        <div class="article-details">
                            <p>{{ plant.description }}</p>
                            <div class="article-cta">
                                <a href="#" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock main %}